{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ category.title }}
{% endblock %}
{% block content %}
<div class="header" style="height: 150px;">
    <form class="search-form" style="width: 50%;" action="{% url 'search_results' %}">
        <img style="width: 25px;" src="{% static 'img/search_icon.png' %}" alt=""> <input class="container-input" style="height: 25px;"  type="text" name="search" required placeholder="Найти объявление"> 
        <button class="btn">Поиск</button>
    </form>
</div>
<div>
    {% for product in category.product_set.all %}
    <a style="color: black;" href="{% url 'product_detail' product.id %}">
        <div class="category-list">
            {% if product.image.url != null %}
            <img src="{{ product.image.url }}" alt="">
            {% else %}
            <img src="{% static 'img/i (2).webp' %}" alt="...">
            {% endif %}
            <div>
                <p><h3>{{ product.title }}</h3><p>
                {{ product.text }}
                <p>{{ product.price }}</p>
                <div style="display: flex;">
                    <p style="margin-right: 750px;">{{ product.date }}</p>
                    <a href="{% url 'add_to_favourite' product.id %}">
                        <img style="width: 40px; height: 40px;" src="{% static 'img/love_heart.png' %}" alt="...">
                    </a>
                </div>
            </div>   
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
