{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная,Оlx
{% endblock %}
{% block content %}
<div>
    {% for product in product %}
    <div class="category-list">
        <a style="color: black;" href="{% url 'product_detail' product.id %}">
            {% if product.product.image.url != null %}
            <img src="{{ product.product.image }}" alt="..." style="width: 150px; background-color: white;" >
            {% else %}
            <img src="{% static 'img/i (2).webp' %}" alt="..." style="width: 150px; background-color: white;" >
            {% endif %}
            <p>
                <div>
                    <h3>{{ product.product.title }}</h3>
                    <p>{{ product.product.price }}</p>
                    <br>
                    {{ product.product.date }}
                    <a href="{% url 'delete_favourite' product.product.id %}">
                        <img style="width: 40px;" src="{% static 'img/love_heart.png' %}" alt="...">
                    </a>
                </div>   
            </p>     
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
