{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.title }}
{% endblock %}
{% block content %}
<div class="header" style="height: 150px;">
    <form class="search-form" style="width: 50%;" action="">
        <img style="width: 25px;" src="{% static 'img/search-icon.png' %}" alt=""> <input class="container-input" type="text" placeholder="Найти объявление"> 
        <button class="btn">Поиск <img style="width: 20px;" src="{% static 'img/search-icon.png' %}" alt=""></button>
    </form>
</div>
<div class="content-sidebar">
    <section class="content-block">
        <div>
            <div>
                {% if product.image.url != null %}
                <img src="{{ product.image.url }}"  alt="" style="height: 200px; object-fit: cover;">
                {% else %}
                <img src="" class="card-img-top" alt="..." style="width: 200px; object-fit: cover">
                {% endif %}
            </div>
            <div>
                <p>{{ product.date }}</p>
                <h1>{{ product.title }}</h1>
                <div>
                    <div>
                        <a href="{% url 'add_to_favourite' product.id %}">
                            <img src="{% static 'img/love-heart.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <h2>ОПИСАНИЕ</h2>
                <p>{{ product.text }}</p>
                <hr>
                <p>{{ product.author }}</p>
                <p>{{ product.number }}</p>    
            </div>
        <div>
    </section>
    <aside class="sidebar-block">
        <div>
            <b>ПОЛЬЗОВАТЕЛЬ</b>
            <p>{{ product.author }}</p>
            <p>{{ user.email }}</p>
        </div>
    </aside>
</div>
{% endblock %}
