{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.title }}
{% endblock %}
{% block content %}
<div class="header" style="height: 150px;">
    <form class="search-form" style="width: 50%;" action="">
        <img style="width: 25px;" src="{% static 'img/search_icon.png' %}" alt=""><input class="container-input" style="height: 25px;"  type="text" name="search" placeholder="Найти объявление" required> 
        <button class="btn">Поиск</button>
    </form>
</div>
<div class="content-sidebar">
    <section class="content-block">
        <div>
            <div>
                {% if product.image.url != null %}
                <img src="{{ product.image.url }}"  alt="" style="height: 200px; object-fit: cover;">
                {% else %}
                <img src="{% static 'img/i (2).webp' %}" alt="..." style="height: 300px; object-fit: cover">
                {% endif %}
            </div>
            <div>
                <p>{{ product.date }}</p>
                <h1>{{ product.title }}</h1>
                <div>
                    <div style="display: flex;">
                        <div class="nav_btn" style="border: black 1px solid;">
                            <a style="color: black;" href="{% url 'category_detail' product.category.id %}">{{ product.category.title }}</a>
                        </div>
                    </div>
                </div>
                <h2>ОПИСАНИЕ</h2>
                <p>{{ product.text }}</p>
                <hr>
                <p>{{ product.author }}</p>
                <div>
                    <a href="{% url 'add_to_favourite' product.id %}">
                        <img style="width: 40px;" src="{% static 'img/love_heart.png' %}" alt="">
                    </a>
                    <p>
                        <a href="{% url 'update' product.id %}"><button class="nav_btn" style="border: black 1px solid;">Изменить</button></a>
                        <a href="{% url 'delete' product.id %}"><button class="nav_btn" style="border: black 1px solid;">Удалить</button></a>
                    </p>
                </div>
            </div>
        <div>
    </section>
    <aside class="sidebar-block">
        <div>
            <b>ПОЛЬЗОВАТЕЛЬ:</b>
            <p>{{ product.author }}</p>
            <p>{{ user.email }}</p>
        </div>
    </aside>
</div>
{% endblock %}
