{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ quary }}
{% endblock %}
{% block content %}
<h1 style="text-align: center;">По запросу {{ quary }} найдено</h1>
<div>
    {% for product in search_obj %}
<a style="color: black;" href="{% url 'product_detail' product.id %}">
    <div class="category-list">
        {% if product.image.url != null %}
        <img src="{{ product.image.url }}" alt="">
        {% else %}
        <img src="{% static 'img/i (2).webp' %}" alt="...">
        {% endif %}
        <div>
            <p><h3>{{ product.title }}</h3><p>
            {{ product.text }}
            <p>{{ product.price }}</p>
            <div style="display: flex;">
                <p style="margin-right: 750px;">{{ product.date }}</p>
                <a href="{% url 'add_to_favourite' product.id %}">
                    <img style="width: 40px; height: 40px;" src="{% static 'img/love_heart.png' %}" alt="...">
                </a>
            </div>
        </div>   
    </div>
</a>
    {% empty %}
    <p>по вашему запросу:{{ quary }} ничего не найдено</p>
    {% endfor %}
</div>
{% endblock %}